.spinner {
  font-size: 30px;
  font-weight: 800;
  animation-name: spinner;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  
}

@keyframes spinner {
  from {
   
    color: black;
  }

  50% {
    color: rgb(221, 221, 221);
  }

  to {
    
    color: black;
  }
}